.example-spacer {
    flex: 1 1 auto;
  }


  button{
    border: none !important;
  }

  mat-toolbar{
    background-color: var(--bg-primary);
  }

  .burger-menu{

    background-color: var(--bg-primary);
    color: white;

  }